![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [1]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
#db.collection_names()
collection = db.companies

In [3]:
list(collection.find({'name':'Babelgum'},{'_id':0,'name':1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [4]:
list(collection.find({'number_of_employees':{'$gt':5000}},
                     {'_id':0,'name':1,'number_of_employees':1}).sort('number_of_employees',-1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [5]:
list(collection.find({'$and':[{'founded_year':{'$gte':2000}},
                              {'founded_year':{'$lte':2005}}]},
                     {'_id':0,'name':1,'founded_year':1}).sort('founded_year',-1).limit(10))

[{'name': 'Zoho', 'founded_year': 2005},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'YouTube', 'founded_year': 2005},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [6]:
list(collection.find({'$and':[{'ipo.valuation_amount':{'$gt':100000000}},
                              {'founded_year':{'$lt':2010}}]},
                     {'_id':0,'name':1,'ipo.valuation_amount':1}).sort('ipo.valuation_amount',-1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [7]:
list(collection.find({'$and':[{'number_of_employees':{'$lt':1000}},
                              {'founded_year':{'$lt':2005}}]},
                     {'_id':0,'name':1,'number_of_employees':1,'founded_year':1}).sort('number_of_employees',-1).limit(10))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [8]:
list(collection.find({'partners':{'$exists':0}},
                     {'_id':0,'name':1,'partners':1}).limit(10))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [9]:
list(collection.find({'category_code':'null'},
                     {'_id':0,'name':1,'category_code':1}).limit(10))

[{'name': 'Collective', 'category_code': 'null'},
 {'name': 'Snimmer', 'category_code': 'null'},
 {'name': 'KoolIM', 'category_code': 'null'},
 {'name': 'Level9 Media', 'category_code': 'null'},
 {'name': 'VidKing', 'category_code': 'null'},
 {'name': 'Drigg', 'category_code': 'null'},
 {'name': 'SpaceTime', 'category_code': 'null'},
 {'name': 'Touch Clarity', 'category_code': 'null'},
 {'name': 'MMDAYS', 'category_code': 'null'},
 {'name': 'Inside Group', 'category_code': 'null'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [10]:
list(collection.find({'$and':[{'number_of_employees':{'$gte':100}},
                              {'number_of_employees':{'$lt':1000}}]},
                     {'_id':0,'name':1,'number_of_employees':1}).sort('number_of_employees',-1).limit(10))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900}]

### 9. Order all the companies by their IPO price descendently.

In [11]:
 list(collection.find({},
                      {'_id':0,'name':1,'ipo.valuation_amount':1}).sort('ipo.valuation_amount',-1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [12]:
list(collection.find({},
                     {'_id':0,'name':1,'number_of_employees':1}).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [13]:
list(collection.find({'founded_month':{'$gt':6}},
                     {'_id':0,'name':1,'founded_month':1}).limit(100))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12},
 {'name': 'Jingle Networks', 'founded_month': 9},
 {'name': 'LifeLock', 'founded_month': 8},
 {'name': 'Wesabe', 'founded_month': 12},
 {'name': 'SmugMug', 'founded_month': 11},
 {'name': 'Google', 'founded_month': 9},
 {'name': 'Skype', 'founded_month': 8},
 {'name': 'Pando Networks', 'founded_month': 7},
 {'name': 'Ikan', 'founded_month': 12},
 {'name': 'delicious', 'founded_month': 9},
 {'name': 'AllPeers', 'founded_month': 8},
 {'name': 'Wize', 'founded_month': 8},
 {'name': 'SellABand', 'founded_month': 8},
 {'name': 'iContact', 'founded_month': 7},
 {'name': 'MeeVee', 'founded_month': 7},
 {'name': 'blinkx', 'founded_month': 12},
 {'name': 'Zlio', 'founded_month': 11},
 {'name': 'Yelp', 'founded_month': 7},
 {'name': 'Jaiku', 'founded_month': 7},
 {'name': 'Yapta', 'founded_month': 7},
 {'name': 'Fleck', 'founded_month': 11},
 {'name': 'SideStep', 'founded_month': 11},
 {'name': 'RockYou', 'founded_month': 11},
 {'name': 'Instructables', 'founded_month': 8},
 {'name': 'Netvibes', 'founded_month': 9},
 {'name': 'Swivel', 'founded_month': 12},
 {'name': 'Slide', 'founded_month': 8},
 {'name': 'CrowdVine', 'founded_month': 8},
 {'name': 'TheFind', 'founded_month': 10},
 {'name': 'Sway', 'founded_month': 12},
 {'name': 'CornerWorld', 'founded_month': 9},
 {'name': 'FlickIM', 'founded_month': 12},
 {'name': 'Terabitz', 'founded_month': 7},
 {'name': 'Kaboodle', 'founded_month': 10},
 {'name': 'GigaOM', 'founded_month': 7},
 {'name': 'Redfin', 'founded_month': 10},
 {'name': 'Wink', 'founded_month': 8},
 {'name': 'Go2Web20', 'founded_month': 9},
 {'name': 'TechnologyGuide', 'founded_month': 10},
 {'name': 'Techmeme', 'founded_month': 10},
 {'name': 'Ujogo', 'founded_month': 7},
 {'name': 'Recipezaar', 'founded_month': 9},
 {'name': 'Gumiyo', 'founded_month': 11},
 {'name': 'stylediary', 'founded_month': 8},
 {'name': 'Piczo', 'founded_month': 11},
 {'name': 'Cyworld', 'founded_month': 7},
 {'name': 'Socialtext', 'founded_month': 12},
 {'name': 'ConnectMeAnywhere', 'founded_month': 9},
 {'name': 'hi5', 'founded_month': 12},
 {'name': 'Clipperz', 'founded_month': 11},
 {'name': 'Tagged', 'founded_month': 10},
 {'name': 'Nintendo', 'founded_month': 9},
 {'name': 'Indeed', 'founded_month': 11},
 {'name': 'Jaxtr', 'founded_month': 10},
 {'name': 'Cerado', 'founded_month': 7},
 {'name': 'ONEsite', 'founded_month': 9},
 {'name': 'Wallhogs', 'founded_month': 8},
 {'name': 'eBuddy', 'founded_month': 9},
 {'name': 'Grockit', 'founded_month': 12},
 {'name': 'Adobe Systems', 'founded_month': 12},
 {'name': 'JumpBox', 'founded_month': 7},
 {'name': 'Phonezoo', 'founded_month': 11},
 {'name': 'LongJump', 'founded_month': 7},
 {'name': 'Relationals', 'founded_month': 7},
 {'name': 'Wishpot', 'founded_month': 11},
 {'name': 'Forbes', 'founded_month': 8},
 {'name': 'Boonex', 'founded_month': 7},
 {'name': 'IntenseDebate', 'founded_month': 12},
 {'name': 'Rebtel', 'founded_month': 7},
 {'name': 'Buxfer', 'founded_month': 7},
 {'name': 'boo-box', 'founded_month': 7},
 {'name': 'TextPayMe', 'founded_month': 12},
 {'name': 'BillMonk', 'founded_month': 9},
 {'name': 'PayPal', 'founded_month': 12},
 {'name': 'The Walt Disney Company', 'founded_month': 10},
 {'name': 'WebbAlert', 'founded_month': 8},
 {'name': 'Rocketboom', 'founded_month': 8},
 {'name': 'WallStrip', 'founded_month': 10},
 {'name': 'IAC', 'founded_month': 8},
 {'name': 'Techstars', 'founded_month': 10},
 {'name': 'Nirvanix', 'founded_month': 7},
 {'name': 'Mokitown', 'founded_month': 11},
 {'name': 'Neopets', 'founded_month': 11},
 {'name': 'KnockaTV', 'founded_month': 8},
 {'name': 'Revver', 'founded_month': 10},
 {'name': 'Metacafe', 'founded_month': 7},
 {'name': 'MindTouch', 'founded_month': 12},
 {'name': 'ChaCha', 'founded_month': 12},
 {'name': 'Sportingo', 'founded_month': 7},
 {'name': 'Akamai Technologies', 'founded_month': 8},
 {'name': 'Splashup', 'founded_month': 10}]

### 12. All the companies that have been 'deadpooled' after the third year.

In [14]:
list(collection.find({'$and':[{'$where':'this.deadpooled_year - this.founded_year > 3'}]},
                     {'_id':0,'name':1,'founded_year':1,'deadpooled_year':1}).limit(10))

# https://www.w3resource.com/mongodb/mongodb-where-operators.php
# https://stackoverflow.com/questions/39095187/how-to-get-sum-of-differences-of-two-fields-in-mongodb
# https://stackoverflow.com/questions/4442453/mongodb-query-condition-on-comparing-2-fields

[{'name': 'Babelgum', 'founded_year': 2007, 'deadpooled_year': 2013},
 {'name': 'Thoof', 'founded_year': 2006, 'deadpooled_year': 2013},
 {'name': 'Wesabe', 'founded_year': 2005, 'deadpooled_year': 2010},
 {'name': 'Stickam', 'founded_year': 2006, 'deadpooled_year': 2013},
 {'name': 'AllPeers', 'founded_year': 2004, 'deadpooled_year': 2008},
 {'name': 'EQO', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'AllofMP3', 'founded_year': 2000, 'deadpooled_year': 2007},
 {'name': 'SellABand', 'founded_year': 2006, 'deadpooled_year': 2010},
 {'name': 'Zlio', 'founded_year': 2005, 'deadpooled_year': 2011},
 {'name': 'Jaiku', 'founded_year': 2006, 'deadpooled_year': 2012}]

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [15]:
list(collection.find({'$and':[{'founded_year':{'$lt':2000}},
                              {'acquisition.price_amount':{'$gt':10000000}}]},
                     {'_id':0,'name':1,'founded_year':1,'acquisition.price_amount':1}).sort('founded_year',1).limit(10))

[{'name': 'VideoSurf',
  'founded_year': 1840,
  'acquisition': {'price_amount': 100000000}},
 {'name': 'VideoSurf',
  'founded_year': 1840,
  'acquisition': {'price_amount': 100000000}},
 {'name': 'Stiefel',
  'founded_year': 1847,
  'acquisition': {'price_amount': 3600000000.0}},
 {'name': 'Xerox',
  'founded_year': 1906,
  'acquisition': {'price_amount': 32500000}},
 {'name': 'Unilever',
  'founded_year': 1930,
  'acquisition': {'price_amount': 575000000}},
 {'name': 'Unilever',
  'founded_year': 1930,
  'acquisition': {'price_amount': 575000000}},
 {'name': 'Veeco Instruments',
  'founded_year': 1945,
  'acquisition': {'price_amount': 30000000}},
 {'name': 'National Semiconductor',
  'founded_year': 1959,
  'acquisition': {'price_amount': 6500000000.0}},
 {'name': 'Sabre',
  'founded_year': 1960,
  'acquisition': {'price_amount': 4300000000.0}},
 {'name': 'Metrologic Instruments',
  'founded_year': 1968,
  'acquisition': {'price_amount': 720000000}}]

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [16]:
list(collection.find({'acquisition.acquired_year':{'$gt':2015}},
                     {'_id':0,'name':1,'acquisition.acquired_year':1,'acquisition.price_amount':1}).sort('acquisition.price_amount',-1).limit(10))

[]

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [17]:
import numpy as np
list(collection.find({'founded_year':{'$ne': np.nan}},
                     {'_id':0,'name':1,'founded_year':1}).sort('founded_year',1).limit(10))
# https://docs.mongodb.com/manual/reference/operator/query/ne/

[{'name': 'US Army', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'Bachmann Industries', 'founded_year': 1833},
 {'name': 'McKesson', 'founded_year': 1833},
 {'name': 'Bertelsmann', 'founded_year': 1835},
 {'name': 'Accuity', 'founded_year': 1836},
 {'name': 'CENTRA', 'founded_year': 1839},
 {'name': 'WeGame', 'founded_year': 1840}]

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [18]:
list(collection.find({'founded_day':{'$lte':7, '$ne':np.nan}},
                     {'_id':0,'name':1,'founded_day':1}).sort('aquisition.price_amount',-1).limit(10))

[{'name': 'eBay', 'founded_day': 1},
 {'name': 'Joost', 'founded_day': 1},
 {'name': 'Fox Interactive Media', 'founded_day': 1},
 {'name': 'Helio', 'founded_day': 1},
 {'name': 'StumbleUpon', 'founded_day': 1},
 {'name': 'Geni', 'founded_day': 1},
 {'name': 'Omnidrive', 'founded_day': 1},
 {'name': 'Facebook', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Gizmoz', 'founded_day': 1}]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [19]:
list(collection.find({'$and':[{'category_code':'web'},
                              {'number_of_employees':{'$gt':4000}}]},
                     {'_id':0,'name':1,'number_of_employees':1}).sort('number_of_employees',1).limit(10))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [20]:
list(collection.find({'$and':[{'acquisition.price_amount':{'$gt':10000000}},
                              {'acquisition.price_currency_code':'EUR'}]},
                     {'_id':0,'name':1,'acquisition.price_amount':1,
                      'acquisition.price_currency_code':1}).limit(10))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [21]:
list(collection.find({'acquisition.acquired_month':{'$lte':3}},
                     {'_id':0,'name':1,'acquisition.acquired_month':1}).limit(10))

[{'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'iContact', 'acquisition': {'acquired_month': 2}},
 {'name': 'Coghead', 'acquisition': {'acquired_month': 2}},
 {'name': 'Dailymotion', 'acquisition': {'acquired_month': 2}},
 {'name': 'Netvibes', 'acquisition': {'acquired_month': 2}},
 {'name': 'Flickr', 'acquisition': {'acquired_month': 3}},
 {'name': 'BabyCenter', 'acquisition': {'acquired_month': 3}}]

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [22]:
list(collection.find({'$and':[{'founded_year':{'$gte':2000}},
                              {'founded_year':{'$lte':2010}},
                              {'acquisition.acquired_year':{'$gt':2011}}]},
                     {'_id':0,'name':1,'founded_year':1,'acquisition.acquired_year':1}).limit(10))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Revision3',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'iContact',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Mashery',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Dailymotion',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'KickApps',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Netvibes',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}}]