## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [41]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [42]:
# Your code here
sample_list_1 = random.sample(range(0,101),k=80)
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [43]:
# Your code here
set1 =  set(sample_list_1)
print(set1,'\nSET Length:',len(set1))

{0, 1, 2, 3, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
SET Length: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [44]:
# Your code here
sample_list_2 = random.sample(range(0,101),k=80)
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [45]:
# Your code here
set2 = set(sample_list_2)
print(set2,'\nSET2 Length:',len(set2))

{0, 1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 41, 42, 44, 45, 47, 48, 50, 51, 52, 53, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98, 99}
SET2 Length: 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
# Your code here
set3 = set1 - set2
print(set3)
print("SET3 Length:",len(set3))

{96, 97, 34, 3, 100, 70, 39, 40, 10, 43, 77, 92, 49, 20, 54, 28}
SET3 Length: 16

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [47]:
# Your code here
set4 = set2 - set1
print(set4)
print("SET4 Length:",len(set4))

{67, 4, 5, 7, 9, 75, 76, 81, 50, 51, 82, 86, 25, 26, 30, 57}
SET4 Length: 16

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [48]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
print("SET5 Length:",len(set5))

{0, 1, 2, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 27, 29, 31, 32, 33, 35, 36, 37, 41, 42, 44, 45, 47, 48, 52, 53, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 71, 72, 73, 74, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 98, 99}
SET5 Length: 64

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [49]:
# Your code here
print('The length of set 1 and set 2 is the same: ', len(set1)==len(set2))
print('\nWhen we remove the elements of set 2 from the set 1 we have 17 and since set 1 and set 2 have the same lenght the length of set 3 and set 4 must be the same')
print('The lenght of set 3 and set 4 is the same: ', len(set3)==len(set4))
print('\nSo set 5 must be the lengths of set 1 - set 3 or set 1 - set 4 or set 2 - set 3 or set 2 - set 4')
print('Set 5 length: ',len(set5))
print('len(set1) - len(set3) = ',len(set1) - len(set3))
print('len(set1) - len(set4) = ',len(set1) - len(set4))
print('len(set1) - len(set3) = ',len(set2) - len(set3))
print('len(set1) - len(set3) = ',len(set2) - len(set4))

The length of set 1 and set 2 is the same:  True

When we remove the elements of set 2 from the set 1 we have 17 and since set 1 and set 2 have the same lenght the length of set 3 and set 4 must be the same
The lenght of set 3 and set 4 is the same:  True

So set 5 must be the lengths of set 1 - set 3 or set 1 - set 4 or set 2 - set 3 or set 2 - set 4
Set 5 length:  64
len(set1) - len(set3) =  64
len(set1) - len(set4) =  64
len(set1) - len(set3) =  64
len(set1) - len(set3) =  64

#### Create an empty set called `set6`.

In [50]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [51]:
# Your code here
set6.update(set3, set5)
print(set6)
print('Set 6 length:',len(set6))

{0, 1, 2, 3, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
Set 6 length: 80

#### Check if `set1` and `set6` are equal.

In [52]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [53]:
# Your code here
set2.issubset(set1)

False

In [54]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [55]:
# Your code here
union = set3.union(set4,set5)
print(union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

In [56]:
union = set3.union(set1,set2)
print(union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [59]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 1, 2, 3, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{1, 2, 3, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [61]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1_lst = list(set1)

for i in set1_lst:
    if i in list_to_remove:
        set1.remove(i)
        
print(set1)

{2, 3, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 27, 28, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 45, 47, 48, 52, 53, 54, 55, 58, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 77, 78, 80, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}