___
## Challenge 1

In [1]:
# !pip install nltk

In [2]:
import warnings
warnings.simplefilter('ignore')

import nltk
from nltk.corpus import brown

In [3]:
print(brown.words()[:10])

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', 'Friday', 'an', 'investigation', 'of']

In [4]:
print(brown.tagged_words()[:10])

[('The', 'AT'), ('Fulton', 'NP-TL'), ('County', 'NN-TL'), ('Grand', 'JJ-TL'), ('Jury', 'NN-TL'), ('said', 'VBD'), ('Friday', 'NR'), ('an', 'AT'), ('investigation', 'NN'), ('of', 'IN')]

In [5]:
text = 'Ironhack is a Global Tech School ranked num 2 worldwide. Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do. This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course. We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.'
print(text)

Ironhack is a Global Tech School ranked num 2 worldwide. Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do. This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course. We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.

In [6]:
from nltk import sent_tokenize, word_tokenize

In [7]:
sent_tokenize(text)

['Ironhack is a Global Tech School ranked num 2 worldwide.',
 'Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do.',
 'This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course.',
 'We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.']

In [8]:
print(word_tokenize(text))

['Ironhack', 'is', 'a', 'Global', 'Tech', 'School', 'ranked', 'num', '2', 'worldwide', '.', 'Our', 'mission', 'is', 'to', 'help', 'people', 'transform', 'their', 'careers', 'and', 'join', 'a', 'thriving', 'community', 'of', 'tech', 'professionals', 'that', 'love', 'what', 'they', 'do', '.', 'This', 'ideology', 'is', 'reflected', 'in', 'our', 'teaching', 'practices', ',', 'which', 'consist', 'of', 'a', 'nine-weeks', 'immersive', 'programming', ',', 'UX/UI', 'design', 'or', 'Data', 'Analytics', 'course', 'as', 'well', 'as', 'a', 'one-week', 'hiring', 'fair', 'aimed', 'at', 'helping', 'our', 'students', 'change', 'their', 'career', 'and', 'get', 'a', 'job', 'straight', 'after', 'the', 'course', '.', 'We', 'are', 'present', 'in', '8', 'countries', 'and', 'have', 'campuses', 'in', '9', 'locations', '-', 'Madrid', ',', 'Barcelona', ',', 'Miami', ',', 'Paris', ',', 'Mexico', 'City', ',', 'Berlin', ',', 'Amsterdam', ',', 'Sao', 'Paulo', 'and', 'Lisbon', '.']

___
## Challenge 2

In [9]:
import re

In [10]:
def clean_up(s):
    """
    Cleans up numbers, URLs, and special characters from a string.

    Args:
        s: The string to be cleaned up.

    Returns:
        A string that has been cleaned up.
    """
    s = re.sub(r'http.+? ','',s)
    string=''
    for i in s:
        if i.isalpha() == False:
            string+=' '
        elif i.isalpha():
            string+=i.lower()
    
    return string.strip()

In [11]:
txt = "@Ironhack's-#Q website 776-is http://ironhack.com [(2018)])"
#txt = "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"
clean_up(txt)

'ironhack s  q website     is'

In [12]:
def tokenize(s):
    """
    Tokenize a string.

    Args:
        s: String to be tokenized.

    Returns:
        A list of words as the result of tokenization.
    """
    return s.split()

In [13]:
tokenize(clean_up(txt))

['ironhack', 's', 'q', 'website', 'is']

In [14]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
display(lemmatizer.lemmatize('was'))
display(lemmatizer.lemmatize('runs', pos = 'v'))

'wa'

'run'

In [15]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer('english')

def stem_and_lemmatize(l):
    """
    Perform stemming and lemmatization on a list of words.

    Args:
        l: A list of strings.

    Returns:
        A list of strings after being stemmed and lemmatized.
    """
    lemm = [lemmatizer.lemmatize(i.lower()) for i in l]
    return lemm#[stemmer.stem(i.lower()) for i in lemm]

In [16]:
# I did not use the stemmer because it does not return correctly some words like "website"

In [17]:
stem_and_lemmatize(tokenize(clean_up(txt)))

['ironhack', 's', 'q', 'website', 'is']

In [18]:
from nltk.corpus import stopwords
stopwords = stopwords.words('english')  
def remove_stopwords(l):
    """
    Remove English stopwords from a list of strings.

    Args:
        l: A list of strings.

    Returns:
        A list of strings after stop words are removed.
    """      
    return [i.lower() for i in l if i not in stopwords]

In [19]:
remove_stopwords(stem_and_lemmatize(tokenize(clean_up(txt))))

['ironhack', 'q', 'website']

___
## Challenge 3

In [20]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
txt = "Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do."
analyzer = SentimentIntensityAnalyzer()
analyzer.polarity_scores(txt)

{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.8442}

In [21]:
import pandas as pd, zipfile, numpy as np
zf = zipfile.ZipFile('Sentiment140.csv.zip').open('Sentiment140.csv')
df = pd.read_csv(zf, nrows=2000)

In [22]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [23]:
data = df.copy()

In [24]:
def nlp_func(x):
    return remove_stopwords(stem_and_lemmatize(tokenize(clean_up(x))))

In [25]:
data['text_processed'] = data['text'].apply(lambda x: nlp_func(x))

In [26]:
data.head()

,target,id,date,flag,user,text,text_processed
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[switchfoot, awww, bummer, shoulda, got, david..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,"[upset, update, facebook, texting, might, cry,..."
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,"[kenichan, dived, many, time, ball, managed, s..."
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,"[whole, body, feel, itchy, like, fire]"
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....","[nationwideclass, behaving, mad, see]"

In [27]:
bow=[]
for i in data['text_processed']:
    bow += i

In [28]:
from nltk.probability import FreqDist
fdist = FreqDist(bow)

In [29]:
fdist.most_common(10)

[('wa', 177),
 ('get', 129),
 ('work', 120),
 ('day', 116),
 ('go', 100),
 ('sleep', 99),
 ('like', 97),
 ('sad', 97),
 ('today', 95),
 ('going', 83)]

In [30]:
lst_bow = [i[0] for i in fdist.most_common(5000)]
lst_bow[:10]

['wa', 'get', 'work', 'day', 'go', 'sleep', 'like', 'sad', 'today', 'going']

In [31]:
from tqdm import tqdm

In [32]:
# feature = {}
# for i in tqdm(lst_bow):
#     for j in range(data.shape[0]):
#         feature[i] = (i in data['text_processed'][j])

In [33]:
# item = feature.items()
# # list(item)[:15]

In [34]:
# feature = {}
# for i in tqdm(lst_bow):
#     for j in range(data.shape[0]):
        
#         an = analyzer.polarity_scores(i)
#         if an['pos'] > 0:
#             pos = True
#         else: pos = False
        
#         feature[i] = [(i in data['text_processed'][j]), pos]

In [35]:
# item = feature.items()
# list(item)[:15]

In [36]:
def find_features(x):
    words = set(x)
    feature = {}
    for w in lst_bow:
        feature[w] = (w in words)
        
    an = analyzer.polarity_scores(' '.join(x))
    if an['pos'] > 0:
        pos = True
    else: pos = False
    
    return (feature, pos)

features_2 = data['text_processed'].apply(find_features)

features_2

0       ({'wa': False, 'get': False, 'work': False, 'd...
1       ({'wa': False, 'get': False, 'work': False, 'd...
2       ({'wa': False, 'get': False, 'work': False, 'd...
3       ({'wa': False, 'get': False, 'work': False, 'd...
4       ({'wa': False, 'get': False, 'work': False, 'd...
                              ...
1995    ({'wa': False, 'get': False, 'work': False, 'd...
1996    ({'wa': False, 'get': False, 'work': False, 'd...
1997    ({'wa': False, 'get': False, 'work': False, 'd...
1998    ({'wa': False, 'get': False, 'work': False, 'd...
1999    ({'wa': False, 'get': True, 'work': False, 'da...
Name: text_processed, Length: 2000, dtype: object

In [37]:
from nltk.classify import NaiveBayesClassifier
from sklearn.model_selection import train_test_split as tts
import nltk.classify.util

In [38]:
# train = features_2[:1600]
# test = features_2[1600:]

train, test = tts(features_2)

classifier = nltk.NaiveBayesClassifier.train(train)

In [39]:
classifier.show_most_informative_features(10)

Most Informative Features
                     lol = True             True : False  =     29.4 : 1.0
                    want = True             True : False  =     24.5 : 1.0
                    well = True             True : False  =     23.3 : 1.0
                    good = True             True : False  =     21.3 : 1.0
                  better = True             True : False  =     17.9 : 1.0
                 holiday = True             True : False  =      6.5 : 1.0
                    song = True             True : False  =      6.5 : 1.0
                   paper = True             True : False  =      5.7 : 1.0
                   sound = True             True : False  =      5.7 : 1.0
                    stay = True             True : False  =      5.7 : 1.0

In [40]:
nltk.classify.accuracy(classifier, test)

0.804