Data set extracted from:
###### https://www.kaggle.com/shivamb/netflix-shows

In [20]:
import re
import json
import requests
import statistics
import pandas as pd
import multiprocessing as mp
from bs4 import BeautifulSoup as bs
from pathos.multiprocessing import ProcessingPool as Pool

In [50]:
key = 'e16b2263'
id = 'tt6999080'
url = f'http://www.omdbapi.com/?apikey={key}&i={id}'

In [51]:
resp = requests.get(url)
resp

In [52]:
resp.json()

{'Title': 'Jandino: Whatever it Takes',
 'Year': '2016',
 'Rated': 'N/A',
 'Released': 'N/A',
 'Runtime': '95 min',
 'Genre': 'Comedy',
 'Director': 'N/A',
 'Writer': 'N/A',
 'Actors': 'Jandino Asporaat, Giorgio Costa, Lorenzo Elstak, Hubert Lourens',
 'Plot': 'Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of "Sex on Fire" in his comedy show.',
 'Language': 'English, Dutch',
 'Country': 'Netherlands',
 'Awards': 'N/A',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMWE3MGVjZDktODE1YS00ZTg0LThkMDItYWMwZjE3OTI2YWQwXkEyXkFqcGdeQXVyNDY1ODY3Mw@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.4/10'}],
 'Metascore': 'N/A',
 'imdbRating': '5.4',
 'imdbVotes': '15',
 'imdbID': 'tt6999080',
 'Type': 'movie',
 'DVD': 'N/A',
 'BoxOffice': 'N/A',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [53]:
print('Imdb Rating:',resp.json()['imdbRating'])
print('Rotten Tomatoes:',resp.json()['Ratings'][1]['Value'])
print('Metacritic:',resp.json()['Ratings'][2]['Value'])

Imdb Rating: 5.4

IndexError: list index out of range

In [25]:
print('Info: ',resp.json()['Country'].split(',')[0])

KeyError: 'Country'

In [44]:
df = pd.read_csv('test.csv')

In [45]:
df

  one two three
0  si  si    si
1  si  no    si
2  si  no    si
3  si  no    no

In [46]:
def func(o, t):
    if t == 'no':
        return o
    else:
        return 'chi cheñol'

In [48]:
df['one'] = df.apply(lambda x: func(x['one'], x['two']), axis = 1)

In [49]:
df

          one two three
0  chi cheñol  si    si
1          si  no    si
2          si  no    si
3          si  no    no

In [ ]:
#df['NewCol'] = df.apply(lambda x: segmentMatch(x['TimeCol'], x['ResponseCol']), axis=1)